@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply block text-center font-bold py-2 px-10 bg-main-blue w-fit border-blue text-white duration-300 hover:bg-main-blue/80;
  }
  .btn-secondary {
    @apply block text-center font-bold py-2 px-10 bg-transparent w-fit border-blue text-white duration-300 hover:bg-white/30;
  }
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Rokkitt Variable', serif;
}

.navbar-scroll {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
}

/* Centered navbar when at the top */
.navbar-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  background: transparent;
}

.border-fade {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, #343d41 50%, transparent 100%) 1;
  border-style: solid;
}

.border-blue-y {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-image: linear-gradient(to right, #207495 0%, #00a3e4 50%, #207495 100%) 1;
  border-style: solid;
}

.border-blue-r {
  border-right: 8px solid transparent;
  border-image: linear-gradient(to bottom, #207495 0%, #00a3e4 50%, #207495 100%) 1;
  border-style: solid;
}

.border-blue {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #207495 0%, #00a3e4 50%, #207495 100%) 1;
  border-style: solid;
}

.custom-bg-gradient {
  background: linear-gradient(to bottom, black 0%, rgba(50, 50, 255, 0.25) 50%, black 100%);
}

.custom-bg-gradient-b {
  background: linear-gradient(to bottom, black 0%, transparent 100%),
              linear-gradient(to right, black 0%, transparent 50%, black 100%);
}

.custom-bg-gradient-t {
  background: linear-gradient(to top, black 0%, transparent 80%),
              linear-gradient(to right, black 0%, transparent 50%, black 100%);
}

.grid-colors astro-island nav {
  background-color: rgba(129,132,147,255);
  padding-top: 10%;
  padding-bottom: 10%;
}

.grid-colors astro-island:nth-child(3) nav {
  background-color: rgba(66,83,99,255);
}

.grid-colors astro-island:nth-child(4) nav {
  background-color: rgba(43,57,68,255);
}

.grid-colors astro-island:nth-child(5) nav {
  background-color: rgba(32,44,56,255);
}

